h1{
  font-style: oblique;
  color: red;
  font-size:50px;
}
.jumbotron {
min-height: 900px;
background-image: url('project images/shark mouth.jpg');
background-size: cover;
background-attachment: fixed;
border:soild 10px black;
backface-visibility:20% hidden;
 }
 p{
   font-style:comic;
   color:lime;
   font-size: 20px;
 }
